# Allow desktop users to access the ADAM+ CH559 MCU2 HID gateway.
# Install as /etc/udev/rules.d/99-adamp-mcu2.rules and reload udev rules.
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="258a", ATTRS{idProduct}=="0036", TAG+="uaccess"
